
<div class ="col-md-12 mt-3">
	<h1>{{page_title}}</h1>

	<p *ngIf="status != 'success'">
	Crea una Nueva Categoria.</p>

	<hr/>

<div class="alert alert-success" col-md-5 mt-3 *ngIf="status == 'success'">
	La Categoria se han creado Correctamente
</div>
<div class="alert alert-danger" col-md-5 *ngIf="status == 'error'">
		La categoria no se ha Creado 
</div>



<!--Formulario de Crear Categorias-->
<form  #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)" class="col-md-5 ml-0 pl-0">
	<div class="form-gruop">
		<label for ="name">Nombre</label>
		<input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="category.name" required >
			<small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
				El nombre de la categoria no es valido
			</small>

	</div>
	<br>
<input type="submit" value="Guardar Cambios" class="btn btn-success" [disabled] ="categoryForm.invalid"/>

		</form>	

		<br>
</div>


