<div class="loading" *ngIf="!posts">	
	Cargando...
</div>



<div class="container-fluid mt-3" *ngIf="posts">
	<h1>{{page_title}}</h1>
	<hr>

	<!-- LISTADO DE ENTRADAS-->
<post-list [posts]= "posts"
		   [identity]="identity"
		   [url]="url"	></post-list>



</div>