<div class="col-md-12" *ngIf="!post">
	
Cargando...

</div>

<div class="col-md-12 mt-3" *ngIf="post">
	
<h1>{{post.title}}</h1>
		<p>
			{{post.category.name}} - <a [routerLink] = "['/perfil', post.user.id ]">{{post.user.name + ' ' + post.user.surname}}</a>
		</p>
<hr/>
<p [innerHtml]="post.content"></p>

</div>
