
<div class ="col-md-12 mt-3">
	<h1>{{page_title}}</h1>

	<p *ngIf="!is_edit">
	Añade un nuevo Articulo al BLog.</p>

		<p *ngIf="is_edit && post">
	Modifica el post {{post.title}}</p>

	<hr/>

<div class="alert alert-success" col-md-5 mt-3 *ngIf="status == 'success'">
	Los Datos se han guardado Correctamente
</div>
<div class="alert alert-danger" col-md-5 *ngIf="status == 'error'">
		Los Datos no se han guardado 
</div>

<!--Formulario de Entradas-->

<form class="col-md-5 ml-0 pl-0" #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">
	<div class="form-gruop">
		<label for ="title">Titulo</label>
		<input type="text" name="title" class="form-control" #title="ngModel" [(ngModel)]="post.title" required >
			<small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">
				El Titulo no es valido	
			</small>

	</div>

	<div class="form-gruop">
		<label for ="content">Contenido</label>
		<textarea [froalaEditor] name="content" class="form-control" #content="ngModel" [(ngModel)]="post.content"> {{post.content}}</textarea>		
			<small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
				El contenido no es valido	
			</small>
	</div>

<div class="form-gruop">
		<label for ="category_id">Categoria</label>
		<select  name="category_id" class="form-control" #category="ngModel" [(ngModel)]="post.category_id"  >	
			<option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}
			</option>
		</select>	
	</div>


		<div class="form-gruop">
		<label for ="image">Image</label>
		<div *ngIf="is_edit && post.image">
			<img src="{{url + 'post/image/' + post.image }}" class="avatar_edit" />
		</div>
		<angular-file-uploader
      		[config]="afuConfig"
      		
      		(ApiResponse)="imageUpload($event)">
            </angular-file-uploader>			
	</div>
 <br>
	
	<input type="submit" value="Guardar Cambios" class="btn btn-success" [disabled] ="postForm.invalid"/>
<br>
		</form>
	
</div>


