
<div class ="col-md-12 mt-3">
	<h1>{{page_title}}</h1>

	<p *ngIf="status != 'success'">
	Modificar Datos Personales de Usuario.</p>

	<hr/>

<div class="alert alert-success" col-md-5 mt-3 *ngIf="status == 'success'">
	Los Datos se han guardado Correctamente
</div>
<div class="alert alert-danger" col-md-5 *ngIf="status == 'error'">
		Los Datos no se han guardado 
</div>

<!--Formulario de Ajustes-->

<form class="col-md-5 ml-0 pl-0" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">
	<div class="form-gruop">
		<label for ="name">Nombre</label>
		<input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+">
			<small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
				El nombre no es valido	
			</small>

	</div>
	<div class="form-gruop">
		<label for ="surname">Apellido</label>
		<input type="text" name="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z]+">
			<small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
				El apellido no es valido	
			</small>

	</div>
	<div class="form-gruop">
		<label for ="email">Email</label>
		<input type="email" name="email"  class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
			<small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
				El Email no es valido	
			</small>

	</div>

		<div class="form-gruop">
		<label for ="description">Biografia</label>
		<textarea [froalaEditor] name="description" class="form-control" #description="ngModel" [(ngModel)]="user.description"> {{user.description}}</textarea>		
	</div>


		<div class="form-gruop">
		<label for ="image">Avatar</label>
		<div *ngIf="identity && identity.image">
			<img src="{{url + 'user/avatar/' + identity.image }}" class="avatar_edit" />
		</div>
		<angular-file-uploader
      		[config]="afuConfig"
      		
      		(ApiResponse)="avatarUpload($event)">
            </angular-file-uploader>			
	</div>
	<br>
	
	<input type="submit" value="Guardar Cambios" class="btn btn-success" [disabled] ="userEditForm.invalid"/>

		</form>
	
</div>


